{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Camomile{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/fontawesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style type="text/css">
        body {
        padding-top: 20px;
        padding-bottom: 40px;
        }

        /* Custom container */
        .container-narrow {
        margin: 0 auto;
        max-width: 700px;
        }
        .container-narrow > hr {
        margin: 30px 0;
        }

        /* Main marketing message and sign up button */
        .jumbotron {
        margin: 60px 0;
        text-align: center;
        }
        .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
        }
        .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
        }
    </style>
  </head>
  <body>
    <div class="container-narrow">
    {% block content %}{% endblock %}    
    </div> <!-- /container -->
    <!-- Import javascript -->
    <script src="{{ STATIC_URL }}vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}vendor/holder.js"></script>
    <script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>