{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="jumbotron">
    <img src="holder.js/700x300">
    </div>

    {% if user.is_authenticated %}
        <div class="row-fluid">
        <div class="span6">
        {% blocktrans with nickname_t=user.nickname %}
        <h4 class="muted pull-right">Hello, <span id="nickname-info">{{ nickname_t }}</span></h4>
        {% endblocktrans %}
        </div>
        <div class="span4">
        <a class="btn btn-primary btn-large btn-block" href="/dashboard/">{% trans "Go to Dashboard" %}</a>
        </div>
        </div>
    {% else %}
        <div class="row-fluid">
        <div class="span3 offset3">
        <a class="btn btn-success btn-large btn-block" href="/accounts/login/">{% trans "Log in" %}</a>
        </div>
        <div class="span3">
        <a class="btn btn-warning btn-large btn-block" href="/accounts/request-invite/">{% trans "Request invite" %}</a>
        </div>
        </div>
    {% endif %}
    {% if user.is_authorized %}

    {% endif %}

{% endblock %}