{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% load i18n %}

{% block content %}
<h3>{% trans "Request invite" %}</h3>
<form method="post" class="form-vertical">
{% csrf_token %}
{{ form|as_bootstrap:"vertical" }}
<div class="form-actions">
<input class="btn btn-primary" type="submit" name="submit" value="{% trans 'Submit' %}" />
</div>
</form>
{% endblock %}