{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3>{% trans "Success" %}</h3>
<div class="alert alert-success">
{% blocktrans %}
Your request is successfully received. We'll send you invite as soon as possible.
{% endblocktrans %}
</div>
{% endblock %}